*{
    font-family:"Calibri", sans-serif;
    border-radius: 7%;
}
body {
    height: 100%;
    background-color: #022b1b;
    display: block;
    margin-top: 19%;
    margin-left: 8%;
}

.cont {
    display: flex;
    justify-content: center;
}

.box-detras {
    padding: 100px 85px;
    background-image: linear-gradient(to bottom, #33C481, #0F3B23);
    position: relative;
    box-shadow: 6px 0 10px rgba(0, 0, 0, 0.5);
}

.x {
    display: flex;
    background: #17884D;
    padding: 0px 35px;
    position: relative;
    z-index: auto;
    margin-top: 40px;
    margin-bottom: 40px;
    font-size: 90px;
    left: auto;
    right: 230px;
    box-shadow: 6px 0 10px rgba(0, 0, 0, 0.4);
    transition: all 0.3s ease;
}

.x p{
    color: white;
    margin: auto;
}

.x:hover {
    background: #036d44;
    padding: 0px 40px;
    margin-top: 35px;
    margin-bottom: 35px;
    right: 150px;
}
